%form.form-inline
  %input.form-control.mr-sm-2{"aria-label" => "Search Employee", :placeholder => "Search Employee", :type => "search"}
  %button.btn.btn-outline-primary.my-2.my-sm-0{:type => "submit"} Search
